/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

GENERAL

*/


body{
     background-color: black;
}



main{
    height: calc(100vh - 100px);
   
}



footer{
    margin-top: 0%;
    height: 100px;
}



.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}


.my-row-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



.camera{
    width: calc(100% / 8);
    margin: 0.4% 0.2%;
    position: relative;
}

.my-row-footer{
    display: flex;
    flex-wrap: wrap;
}


.col-1-6{
    width: calc(100% / 6);
}


.col-2-3{
    width: calc((100% / 3)*2);
}


.exit{
    position: relative;

}


/*

MAIN
*/


main .head-menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    gap: 2px;
}

main .container .head-menu > div{
    background-color:rgba(189, 195, 199, 0.5);
    padding: 0.2%;
    border-radius: 5px;
    color: white;
}
   

main .container .my-row-main .camera .name   {
    position: absolute;
    bottom: 3%;
    left: 0;
    color: white;
    background-color:rgba(189, 195, 199, 0.5);  
    padding: 1%;
}


/*

FOOTER

*/





footer .footer-container .menu > *{
    padding: 1%;
    color: white;
    background-color: rgb(52, 52, 52);
}


footer .footer-container .menu .tools{
    text-align: center;
}


footer .footer-container .my-row-footer .col-1-6 > div{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

footer .footer-container .my-row-footer .col-1-6 div > i{
    font-size: 2em;
    color: white;
}

footer .footer-container .my-row-footer .col-2-3 > div{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

.footer-container .my-row-footer .col-2-3 div > i{
    font-size: 2em;
    color: white;
}

footer .footer-container .my-row-footer .col-1-6 .end-button{
    background-color: grey;
    padding: 8%  35%;
    text-align: center;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}


footer .footer-container .my-row-footer .col-2-3 .active{
    color: greenyellow;
}


/*

DEBUG

*/

debug main .container .my-row-main .camera{
    background-color: orangered;
    outline: 2px dashed black;
    height: 150px;
    
}

debug main .container{
    background-color: green;
     outline: 2px dashed black;
}

debug footer .menu{
    background-color: yellow;
}

debug footer .menu > *{
    outline: 2px dashed black;
}

debug main .head-menu {
 display: flex;
 justify-content: flex-end;
 outline: 2px dashed white;
 margin-bottom: 2%;
}


debug main .head-menu div {
    color: white;
    outline: 2px dashed white;
}

debug main .container .my-row-main .camera .name   {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color:rgba(189, 195, 199, 0.5);  
    padding: 1%;
}

debug main .container .head-menu > div{
    background-color:rgba(189, 195, 199, 0.5);
    padding: 0.2%;
    border-radius: 5px;
}

debug footer .footer-container .my-row-footer .col-2-3 > div{
    display: inline-block;
    margin: 0 20px;
    text-align: center;
}

debug footer .footer-container .my-row-footer .col-2-3 div > i{
    font-size: 2em;
    color: white;
}

debug footer .footer-container .my-row-footer .col-1-6 .end-button{
    background-color: grey;
    padding: 8%  35%;
    text-align: center;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
}

debug .exit{
    position: relative;

}