/*

RESET

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*

GENERAL

*/


body{
     background-color: black;
}



main{
    height: calc(100vh - 200px);
   
}



footer{
    height: 200px;
}



.container{
    height: calc(100vh - 200px);
    width: 100%;
    margin: 0 auto;
    padding: 0 1%;
}


.my-row-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}



.camera{
    width: calc(100% / 8);
    margin: 0.4% 0.2%;
    position: relative;
}



.my-row-footer{
    display: flex;
    flex-wrap: wrap;
}


.col-1-6{
    width: calc(100% / 6);
}


.col-2-3{
    width: calc((100% / 3)*2);
}



/*

MAIN
*/




/*

FOOTER

*/





footer .footer-container .menu > *{
    padding: 2%;
    color: white;
    background-color: purple;
}


footer .footer-container .menu .logo{
    text-align: center;
}


footer .footer-container .menu .account{
    text-align: left;
}


footer .footer-container .menu .main-nav{
    text-align: right;
}





/*

DEBUG

*/

.debug main .container .my-row-main .camera{
    background-color: orangered;
    outline: 2px dashed black;
    height: 150px;
    
}

.debug main .container{
    background-color: green;
     outline: 2px dashed black;
}

.debug footer .menu{
    background-color: yellow;
}

.debug footer .menu > *{
    outline: 2px dashed black;
}

.debug main .head-menu {
 display: flex;
 justify-content: flex-end;
 outline: 2px dashed white;
 margin-bottom: 2%;
}


.debug main .head-menu div {
    color: white;
    outline: 2px dashed white;
}

.debug main .container .my-row-main .camera .name   {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color:rgba(189, 195, 199, 0.5);  
    padding: 1%;
}